<mat-toolbar
  class="w-12 flex justify-content-evenly bg-blue-400 align-items-center h-5rem"
>
  <div class="w-6 align-items-center flex">
    <button mat-icon-button class="example-icon">
      <mat-icon class="text-white " >menu</mat-icon>
    </button>
    <h1 class="text-4xl text-white" >Examen Final</h1>
    <button mat-icon-button class="example-icon">
      <mat-icon class="text-white " >star</mat-icon>
    </button>
  </div>
  <div class="w-6 flex justify-content-evenly">
    <a class="no-underline text-white text-xl" href="/home">Home</a>
    <a class="no-underline text-white text-xl" href="/certifications/user/:userId">Certificados</a>
    <a class="no-underline text-white text-xl" href="/grafico">Grafico</a>
    <a class="no-underline text-white text-xl cursor-pointer" (click)="logout()">Cerrar Sesion</a>

  </div>
</mat-toolbar>
